#sidebar.active {
    margin-left: -285px;
}

.wrapper {
    display: flex;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    border: 1px solid #47748b;
    margin-top: 66px;
    min-width: 285px;
    max-width: 285px;
    background: #303e56;
    color: rgb(255, 255, 255);
    transition: all 0.3s;
}

#sidebar ul.components {
    padding: 10px 0;
    /* border-bottom: 1px solid #47748b; */
    /* border-top: 1px solid #47748b; */
    width: 245px;
    position: fixed;
}

#sidebar ul p {
    color: rgb(190, 175, 175);
    padding: 10px;
}

#sidebar ul li a {
    border-bottom: 1px solid #47748b;
    margin-top: 10px;
    padding: 13px 10px;
    font-size: 0.96em;
    display: block;
}

.list {
    color: rgb(209, 209, 209);
    margin-left: 15px;
}

#sidebar ul li a:hover {
    color: white;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: white;
}

a[data-toggle="collapse"] {
    position: relative;
}

.menu {
    padding-left: 27px !important;
}

ul ul a {
    font-size: 0.9em !important;
}

#content {
    width: 100%;
    padding: 0px 0px;
    min-height: 100vh;
    transition: all 0.3s;
}

@media (max-width: 767px) {
    #sidebar {
        margin-left: -285px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

@media (max-width: 1024px) {
    #sidebar {
        margin-left: -285px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        margin-right: -285px;
    }
    #sidebarCollapse span {
        display: none;
    }
}
